/*
--- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

--- COLORS

- Primary: #b4d0e7
- Secondary: #0061ff
- Shade:     #3381ff
- Text: #222

*/

/* GENERAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #222;
  font-weight: 300;
}

a {
  color: #222;
  text-decoration: none;
}

/* REUSABLE */

.container {
  width: 55%;
  margin: 0 auto;
}

.row {
  display: flex;
  gap: 40px;
}

.w-33 {
  width: calc(100% / 3);
}

.btn {
  background-color: #0061ff;
  color: #fff;
  padding: 6px 12px;
  transition: all 0.4s;
}

.btn:hover {
  background-color: #3381ff;
}

.title-section {
  font-size: 36px;
  margin-bottom: 48px;
}
