/*
--- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

--- COLORS

- Primary: #b4d0e7
- Secondary: #0061ff
- Shade:     #3381ff
- Text: #222
        rgb(132, 132, 132)

*/

/* GENERAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #222;
  font-weight: 300;
}

a {
  color: #222;
  text-decoration: none;
}

.fa-solid,
.fa-regular {
  margin-right: 4px;
}

/* CARD PLAN LIST GENERAL */
.plan-list {
  margin-left: 0;
  padding-left: 0;
  list-style: none;
  font-size: 14px;
}

.plan-list li {
  position: relative;
  margin-bottom: 24px;
  padding-left: 20px;
}

.plan-list li:last-child {
  margin-bottom: 0;
}

.plan-icon {
  position: absolute;
  top: 2px;
  left: 0;
}

/* REUSABLE */
.container {
  width: 55%;
  margin: 0 auto;
}

.row {
  position: relative;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.w-33 {
  width: calc(100% / 3 - 20px);
}

.btn {
  text-align: center;
  background-color: #0061ff;
  color: #fff;
  padding: 6px 12px;
  transition: all 0.4s;
}

.btn:hover {
  background-color: #3381ff;
}

.title-section {
  font-size: 36px;
  margin-bottom: 64px;
}

.lower-title {
  display: block;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 24px;
}
