/* HEADER */
header {
  height: 70px;
  width: 100%;
  position: fixed;
  z-index: 999;
  background-color: #fff;
  border-bottom: 1px solid #22222256;

  /* debug */
  /* background-color: lightcoral; */
}

nav {
  height: 100%;
  padding: 0 20px;

  display: flex;
  justify-content: space-between;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-list li {
  display: flex;
  align-items: center;
}

.bottom-border:hover {
  box-shadow: inset 0px -2px 0px #2222229d;
}

/* ----------------------------------- */
/* HERO SECTION */
.hero-section {
  background-color: #b4d0e7;
  padding-top: 120px;
  /* debug */
  min-height: 600px;
}

h1 {
  font-size: 74px;
  margin-bottom: 64px;
}

/* hero content */

.hero-content {
  max-width: 350px;
}

.hero-content p {
  margin-bottom: 24px;
  font-weight: 300;
}

.hero-content .btn {
  display: inline-block;
  margin-bottom: 24px;
}

.hero-content span {
  display: inline-block;
  font-weight: 300;
  margin-bottom: 64px;
}

.fa-arrow-down {
  display: block;
  font-size: 52px;
  color: #222;
}

.hero-img img {
  width: 100%;
}
