/* HEADER */
header {
  height: 70px;
  width: 100%;
  position: fixed;
  z-index: 999;
  background-color: #fff;
  border-bottom: 1px solid #22222256;

  /* debug */
  /* background-color: lightcoral; */
}

nav {
  height: 100%;
  padding: 0 20px;

  display: flex;
  justify-content: space-between;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-list li {
  display: flex;
  align-items: center;
}

.bottom-border:hover {
  box-shadow: inset 0px -2px 0px #2222229d;
}

/* ----------------------------------- */
/* HERO SECTION */
.hero-section {
  background-color: #b4d0e7;
  padding-top: 120px;
  /* debug */
  min-height: 600px;
}

h1 {
  font-size: 74px;
  margin-bottom: 64px;
}

/* hero content */

.hero-content {
  max-width: 350px;
}

.hero-content p {
  margin-bottom: 24px;
  font-weight: 300;
}

.hero-content .btn {
  display: inline-block;
  margin-bottom: 24px;
}

.hero-content span {
  display: inline-block;
  font-weight: 300;
  margin-bottom: 64px;
}

.fa-arrow-down {
  margin: 0;
  display: block;
  font-size: 52px;
  color: #222;
}

.hero-img img {
  width: 100%;
}

/* PRICING SECTION */

.pricing-section {
  padding: 128px 0;
}

.fa-circle-dot {
  color: #0061ff;
}

.fa-circle {
  color: #22222282;
}

.facturation-mode {
  margin: 0 32px 32px 0;
  display: inline-block;
}

/* card section */

.card {
  border: 1.8px solid lightgray;
  /* debug */
  /* background-color: lightblue; */
  /* min-height: 800px; */
}

/* plan type */
.plan-type {
  text-align: center;
  padding: 10px 0;
  border-bottom: 1.8px solid lightgray;
}

.plan-content {
  padding: 35px 30px;
}

.plan-title {
  display: block;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 24px;
}

.plan-price {
  display: block;
  font-weight: 600;
  margin-bottom: 12px;
}

.plan-content span:nth-child(3) {
  display: inline-block;
  color: rgb(132, 132, 132);
  margin-bottom: 48px;
}

/* plan feature */
.plan-feature {
  margin-bottom: 48px;
}

/* plan activate buttons */
.free-try-btn {
  margin-bottom: 20px;
}

.free-try-btn a {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  padding: 10px 12px;
}

.buy-now {
  margin-bottom: 32px;
}

.buy-now a {
  color: #0061ff;
  text-decoration: underline;
}

.short-line {
  border-top: 1px solid lightgray;
  width: 20%;
  margin-bottom: 48px;
}

/* plan hilights */

.plan-hilights span:first-child {
  display: inline-block;
  font-weight: 600;
  margin-bottom: 24px;
}

.fa-check {
  color: #0061ff;
}
